body {
  font-family: 'Lato', monospace;
  background-color: #c5dff7;
}
.work-period {
  font-style: italic;
}
.company-title:{
    margin-bottom: 0;
}

.company a {
  color:blue;
}

.new-section {
  font-style: bold;
}
.name {
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
  padding-top:10px;
  padding-bottom:10px;
}
.h1 {
  margin-bottom: 10px
}
